{
  "env": {
    "node": true
  },
  "extends": "airbnb-base/legacy",
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "vars-on-top": "warn",
    "consistent-return": "warn",
    "global-require": "warn",
    "no-multiple-empty-lines": ["error", {
      "max": 1,
      "maxBOF": 0,
      "maxEOF": 1
    }]
  }
}
