# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run lint:ci
    - run: DEBUG=replay* npm run coverage

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Create local config for tests
      run: |
        echo 'module.exports = { usersDbConnection: { url: "http://localhost:5984" }};' > config/local.js
      env:
        SOURCE_URL: ${{ secrets.SOURCE_URL }}

    - name: Start docker compose services
      run: docker compose up -d && sleep 5

    - name: Show docker compose logs
      run: docker compose logs --no-color --timestamps || true

    - name: Run setup
      run: npm run setup
      env:
        SOURCE_URL: ${{ secrets.SOURCE_URL }}
        DEBUG: 'none'

    - name: Run tests
      run: npm run test:deprecated
      env:
        SOURCE_URL: ${{ secrets.SOURCE_URL }}
        DEBUG: 'none'
